<!-- Sultanov Andriy -->
<!-- MIT License 2020 -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="shortcut icon" type="image/png" href="favicon.png"/>
        <title>Book title</title>
    </head>

    <body class="body">
        <table class="tablecategory">
            <tr class="rowcategory">
                <td class="categorytitle" colspan="2">
                    <h1 class="bookcenter">Book title</h1>
                </td>
            </tr>
            <tr class="bookrow">
                <td class="tablecell" align="center">
                    <div class="bookbox">
                        <h2>Word cloud</h2>
                        <img width="82%" height="82%" src="../../output/wordclouds/Macbeth.jpg">
                    </div>
                </td>
                <td class="tablecell">
                    <div class="bookbox">
                        <h2>Color words</h2>
                        <p style="color:#000000";>BLACK </p><p style="color:#008000";>GREEN </p><p style="color:#008000";>GREEN </p><p style="color:#FF0000";>RED </p><p style="color:#FFFFFF";>WHITE </p><p style="color:#C0C0C0";>SILVER </p><p style="color:#000000";>BLACK </p><p style="color:#000000";>BLACK </p><p style="color:#E0115F";>RUBY </p><p style="color:#000000";>BLACK </p><p style="color:#000000";>BLACK </p><p style="color:#00FF00";>LIME </p><p style="color:#000000";>BLACK </p><p style="color:#FFFAFA";>SNOW </p><p style="color:#000000";>BLACK </p><p style="color:#000000";>BLACK </p><p style="color:#FAF0E6";>LINEN </p><p style="color:#FFFF00";>YELLOW </p><p style="color:#FF7D40";>FLESH </p>
                    </div>
                </td>
            </tr>
            <tr class="bookrow">
                <td class="tablecell" colspan="2">
                    <div class="booksinglebox">
                        <h2>Lexical Dispersion Plot of TOP-10 words for book title</h2>
                        <img width="85%" height="85%" style="" src="../../output/dispersion/Moby%20Dick%20Or%20The%20Whale.png">
                    </div>
                </td>
            </tr>
            <tr class="bookrow">
                <td class="tablecell" colspan="2">
                    <div class="booksinglebox">
                        <h2>Lexical Dispersion Plot of TOP-10 female names for book title</h2>
                        <img width="85%" height="85%" style="" src="../../output/femalenames/Moby%20Dick%20Or%20The%20Whale.png">
                    </div>
                </td>
            </tr>
            <tr class="bookrow">
                <td class="tablecell" colspan="2">
                    <div class="booksinglebox">
                        <h2>Lexical Dispersion Plot of TOP-10 male names for book title</h2>
                        <img width="85%" height="85%" style="" src="../../output/malenames/Moby%20Dick%20Or%20The%20Whale.png">
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>