
    <!-- Sultanov Andriy -->
    <!-- MIT License 2020 -->
    <html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="style.css">
            <link rel="shortcut icon" type="image/png" href="favicon.png"/>
            <title>Home</title>
        </head>
    
        <body class="body">
            <h1 class="title">Textual Analysis Data Visualization</h1>
            <h1 class="bytitle">Project by Andriy Sultanov</h1>
            <div class="subtitlediv">
                <table>
                    <tr>
                        <td>
                            <h1 class="subtitle">Categories</h1>
                        </td>
                        <td>
                            <div class='icon-scroll'></div>
                        </td>
                    </tr>
                </table>
            </div>
            <table class="tablecategories">
                <tr class="tablerow">
                    <td> 
                        <h1 class="category">Books</h1>
                    </td>
    
                    <td class="tablecell">
                    <a href="https://website.com/?title=Moby Dick Or The Whale">
                        <div class="box">
                            <h2>Moby Dick Or The Whale</h2>
                        </div>
                    </a>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=The Call of the Wild">
                        <div class="box">
                            <h2>The Call of the Wild</h2>
                        </div>
                    </a>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=Great Expectations">
                        <div class="box">
                            <h2>Great Expectations</h2>
                        </div>
                    </a>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=Pride and Prejudice">
                        <div class="box">
                            <h2>Pride and Prejudice</h2>
                        </div>
                    </a>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=The Yellow Wallpaper">
                        <div class="box">
                            <h2>The Yellow Wallpaper</h2>
                        </div>
                    </a>
                    </td></tr>
                <tr class="tablerow">
                <td>
                    <h1 class="category"1>Authors</h1>
                </td><td class="tablecell">
                    <a href="https://website.com/?title=Melville, Herman">
                        <div class="box">
                            <h2>Melville, Herman</h2>
                        </div>
                    </a>
                    </td><td class="tablecell">
                    <a href="https://website.com/?title=London, Jack">
                        <div class="box">
                            <h2>London, Jack</h2>
                        </div>
                    </a>
                    </td><td class="tablecell">
                    <a href="https://website.com/?title=Dickens, Charles">
                        <div class="box">
                            <h2>Dickens, Charles</h2>
                        </div>
                    </a>
                    </td><td class="tablecell">
                    <a href="https://website.com/?title=Austen, Jane">
                        <div class="box">
                            <h2>Austen, Jane</h2>
                        </div>
                    </a>
                    </td><td class="tablecell">
                    <a href="https://website.com/?title=Gilman, Charlotte Perkins">
                        <div class="box">
                            <h2>Gilman, Charlotte Perkins</h2>
                        </div>
                    </a>
                    </td></tr>
                <tr class="tablerow">
                    <td>
                        <h1 class="category">Times</h1>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=1851">
                        <div class="box">
                            <h2>1851</h2>
                        </div>
                    </a>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=1903">
                        <div class="box">
                            <h2>1903</h2>
                        </div>
                    </a>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=1859">
                        <div class="box">
                            <h2>1859</h2>
                        </div>
                    </a>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=1813">
                        <div class="box">
                            <h2>1813</h2>
                        </div>
                    </a>
                    </td>
                    <td class="tablecell">
                    <a href="https://website.com/?title=1892">
                        <div class="box">
                            <h2>1892</h2>
                        </div>
                    </a>
                    </td></tr>
                <tr class="tablerow">
                    <td>
                        <h1 class="category">Topics</h1>
                    </td>
                    <td class="tablecell">
                        <div class="box">
                            <h2>Title</h2>
                        </div>
                    </td>
                    <td class="tablecell">
                        <div class="box">
                            <h2>Title</h2>
                        </div>
                    </td>
                    <td class="tablecell">
                        <div class="box">
                            <h2>Title</h2>
                        </div>
                    </td>
                    <td class="tablecell">
                        <div class="box">
                            <h2>Title</h2>
                        </div>
                    </td>
                    <td class="tablecell">
                        <div class="box">
                            <h2>Title</h2>
                        </div>
                    </td>
                </tr>
            </table>
        </body>
    </html>