<!-- Sultanov Andriy -->
<!-- MIT License 2020 -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="shortcut icon" type="image/png" href="favicon.png"/>
        <title>
            Home
        </title>
    </head>

    <body>
        <h1 class="title">Textual Analysis Data Visualization</h1>
        <div class="subtitlediv">
            <table>
                <tr>
                    <td>
                        <h1 class="subtitle">Categories</h1>
                    </td>
                    <td>
                        <div class='icon-scroll'></div>
                    </td>
                </tr>
            </table>
        </div>
        <table class="tablecategories">
            <tr class="tablerow">
                <td> 
                    <h1 class="category">Books</h1>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
            </tr>
            <tr class="tablerow">
                <td>
                    <h1 class="category"1>Authors</h1>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
            </tr>
            <tr class="tablerow">
                <td>
                    <h1 class="category">Times</h1>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td class="tablecell">
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
            </tr>
            <tr class="tablerow">
                <td>
                    <h1 class="category">Topics</h1>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
                <td class="tablecell">
                    <div class="box">
                        <h2>Title</h2>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>